apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ project_name }}
  labels:
    app: {{ project_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ project_name }}
  template:
    metadata:
      labels:
        app: {{ project_name }}
    spec:
      containers:
      - name: {{ project_name }}
        image: {{ image_name }}
        ports:
        - containerPort: {{ container_port }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ project_name }}
spec:
  selector:
    app: {{ project_name }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ container_port }}
  type: ClusterIP
